@model IEnumerable<StoreApp.WebApp.Models.LocationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Locations Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <!--@Html.ActionLink("Add Inventory", "Edit", new { /* id=item.PrimaryKey */ }) |-->
                @Html.ActionLink("Orders", "Orders", new { id = item.Id }) | 
                @Html.ActionLink("Inventory", "Inventory", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
