@model StoreApp.WebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
    var customers = (List<CustomerViewModel>)ViewData["Customers"];
    var locations = (List<LocationViewModel>)ViewData["Locations"];
    var products = (List<ProductViewModel>)ViewData["Products"];
}

<h1>Create</h1>

<h4>OrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <select id="CustomerList">
                    @foreach (var customer in customers)
                    {
                        @:<option Value=@customer.Id> @(customer.FirstName + " " + customer.LastName) </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select id="LocationList">
                    @foreach (var location in locations)
                    {
                        @:<option Value=@location.Id> @location.Name </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select id="ProductList">
                    @foreach (var product in products)
                    {
                        @:<option Value=@product.Id> @product.Name - @(string.Format("{0:C}", product.Price)) </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
