@model StoreApp.WebApp.Models.ProductViewModel
@using HtmlHelpers.BeginCollectionItem

@{
<tr>
    <td>
        @Html.HiddenFor(m => m.Id)
        @Html.TextBoxFor(m => m.Name)
        @Html.TextBoxFor(m => m.Amount)
    </td>

    <td>
        <span class="glyphicon glyphicon-trash action-icon" data-action="removeItem"></span>
    </td>

</tr>
    }
